body {
    padding: 0;
    margin: 0;
    background-color: #acd9eb;
  }
  
  form {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15px;
    background-color: #7ba0e6;
    max-width: 500px;
    margin-left: 33%;
    text-align: center;
    margin-top: 6.75%;
    border-radius: 3%;
    height: 470px;
  }
  
  h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #ffffff;
    text-shadow: 5px 5px 5px black;
  }
  
  input,
  textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
  }
  
  input:hover,
  textarea:hover,
  input:focus,
  textarea:focus {
    border-color: #aaaad5;
    -webkit-box-shadow: 5px 0px 9px #f9f9f9;
            box-shadow: 5px 0px 9px #f9f9f9;
    background-color: #f9f9f9;
    color: black;
    font-weight: bold;
  }
  
  .enviar {
    background-color: #843bbc;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
  }
  
  textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
  }
  
  form label {
    margin-left: 20px;
    color: #f9f9f9;
    font-weight: bold;
  }